body {
    font-size: 16px;
    color: #000000;
}

form {
    background: #dbf0fc;
}

span {
    background: #b4d5f6;
    box-shadow: darkgrey 2px 2px 2px 2px;
}

#zhtag, #dlyc, #mmtag, #qrtag, #yxtag, #yztag {
    font-size: small;
    height: 10px;
    color: red;
}

#header {
    position: relative;
    height: 150px;
    margin-bottom: 5px;
    line-height: 200px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
